.header {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo {
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.title {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: darkred;
}

.MenuButton {
  display: flex;
  align-items: center;
}

.LoggedInButton {
  color: inherit;
}

.LoggedInButton:hover {
  text-decoration: underline;
}
