.tableContainer {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
}

.tableRow {
    align-items: center;
    display: grid;
    grid-template-columns: 2fr repeat(7, 1fr);
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.tableHeader {
    background-color: #f2f2f2;
    font-weight: bold;
}
